<% @link = link_to post.title, permalink_url(post.permalink), :rel => 'bookmark' %>
  <div id="post-<%= post.id %>" class="post">

    <% if @home %>
      <h2><%= @link %></a></h2>
    <% else %>
      <h1><%= @link %></a></h1>
    <% end %>

    <div class="meta">
      Por <%= post.author.name %> em <span class="date"><%= post.created_at.strftime '%d/%m/%Y' %></span>
      <span><%= link_to post.category.name, category_url(post.category.permalink) %></span>
    </div>
    <div class="social">
      <%= link_to '', permalink_url(post.permalink) + '#disqus_thread', :class => 'comments' %>
    </div>
    <div class="body">
      <%= BlueCloth::new(post.content).to_html().html_safe() %>
    </div>
  </div>