<%
if post.content.index('[!--more--]')
  #post.content = post.content[0...post.content.index('[!--more--]')]
end
%>
  <div id="post-<%= post.id %>" class="post">
    <h1><%= link_to post.title, permalink_url(post.permalink) %></a></h1>
    <div class="meta">
      Por <a href="#"><%= post.author.name %></a> em <span class="date"><%= post.created_at.strftime '%d/%m/%Y' %></span>
      <span><%= link_to post.category.name, category_url(post.category.permalink) %></span>
    </div>
    <div class="social">
      <%= link_to '', permalink_url(post.permalink) + '#disqus_thread', :class => 'comments' %>
    </div>
    <div class="body">
      <%= BlueCloth::new(post.content).to_html().html_safe() %>
    </div>
    <div class="continue">
      <!--a href="#">continuar lendo</a-->
    </div>
  </div>  