<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Admin</title>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag 'jquery', 'admin' %>
  </head>
  <body>
    <% unless @current_author.nil? %>
      <span><%= @current_author.email %></span>
      (<%= link_to 'logout', :controller => 'login', :action => 'destroy' %>)
    <% end %>

    <h2>::Admin Area::</h2>
    <%= yield %>
    
    <div class="flash">
      <p class="notice"><%= flash[:notice] %></p>
      <p class="warning"><%= flash[:warning] %></p>
    </div>
  </body>
</html>
