<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>WORKS FOR ME</title>
      <%= stylesheet_link_tag 'master' %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
    </head>
  </head>
  <body>
    <div id="structure">
      <div id="container">
        <div id="header">
          <a class="logo" href="/" >WORKS FOR ME!</a>
          <span class="subtitle">// Na minha máquina funciona!</span>
        </div>
        
        <%= render :partial => 'shared/main_menu' %>
        
        <div id="main_area">

          <div id="content">  
            <%= yield %>
          </div>
          <div id="search">
            <form>
              <input class="text" name="q" value="Buscar" />
              <input class="button" type="submit" value="buscar" />
            </form>
          </div>
          
          <%= render :partial => 'shared/latest_posts' %>
          
          <%= render :partial => 'shared/categories' %>
          
          <%= render :partial => 'shared/archives' %>
          
        </div>
        <div id="externals">
          <a href="#" class="twitter">Signa-nos no Twitter</a>
          <a href="#" class="rss">RSS</a>
        </div>
        <div id="footer">
          <p>2010 - worksforme.com.br</p>
        </div>
      </div>
    </div>
  </body>
</html>