<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= @title == nil ? "Works For Me" : @title + " | Works For Me" %></title>
    <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
    <meta name="Description" content="<%= @description %>">
    <%= stylesheet_link_tag 'master' %>
    <%= javascript_include_tag :defaults, 'jquery' %>
    <%= csrf_meta_tag %>
    <%= auto_discovery_link_tag(:atom, "http://feeds.feedburner.com/WorksForMe") %>
    </head>
  </head>
  <body>
    <div id="structure">
      <div id="container">
        <div id="header">
          <h1><a class="logo" href="/" >Works For Me</a></h1>
          <span class="subtitle">// Na minha máquina funciona!</span>
        </div>
        
        <%= render :partial => 'shared/main_menu' %>
        
        <div id="main_area">

          <div id="content">  
            <%= yield %>
          </div>
          
          <!--div id="search">
            <form>
              <input class="text" name="q" value="Buscar" />
              <input class="button" type="submit" value="buscar" />
            </form>
          </div-->
          
          <%= render :partial => 'shared/latest_posts' %>
          
          <%= render :partial => 'shared/categories' %>
          
          <!--%= render :partial => 'shared/archives' %-->
          
          <div id="externals">
            <a href="http://twitter.com/worksformeblog" class="twitter" title="siga-nos no twitter">twitter</a>
            <a href="http://feeds.feedburner.com/WorksForMe" class="rss" title="assine nosso feed">rss</a>
          </div>
        </div>        
        <div id="footer">
          <p>2010 - worksforme.com.br</p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
      var disqus_shortname = 'worksforme';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
</html>